body {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: sans-serif;
    background-color:gray;
}

#food {
    padding: 15px;
    font-size: large;
    margin-bottom: 200px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    position: relative;
    background-color: darkgray;
   
}

#calories {
 padding: 15px;
 font-size: large;
 border-radius: 10px;
 background-color: darkgray;
}


form {
    box-shadow: 10px 5px 5px;
    background-color:lightskyblue;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
#add {
    padding: 15px;
    font-size: large;
    border-radius: 10px;
   margin-left: 35px;
   position: absolute;
   background-color: darkgray;

}

#caloriesBtn {
    padding: 15px;
    font-size: large;
    border-radius: 10px;
    margin-right: 25px;
    position: absolute;
    margin-top: 10px;
    background-color: darkgray;
}

 #entry {
    padding: 15px;
    margin: 10px 40px 40px;
    font-size: large;
    width: 54%;
    border-radius: 10px;   
    background-color: darkgray;
  
} 

h1 {
    bottom: 75px;
    right: 25px;
    color: black;
}

.food-container {
    border: 1px solid ;
    margin-top: 100px;
}
.food-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:lightskyblue;
    margin: 30px 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px;
    
}

#calorie-count {
    font-size:xx-large;
}
